<script src="/static/js/libraries.min.js"></script>

<!-- CodeMirror addons -->
<script src="/static/addon/runmode/runmode.js"></script>
<script src="/static/addon/runmode/colorize.js"></script>

<!-- CodeMirror syntax highlighting -->
<script src="/static/mode/css/css.js"></script>
<script src="/static/mode/javascript/javascript.js"></script>
<script src="/static/mode/markdown/markdown.js"></script>
<script src="/static/mode/xml/xml.js"></script>
<script src="/static/mode/htmlmixed/htmlmixed.js"></script>

<!-- Site script -->
<script src="/static/js/main.js"></script>

